PORT=8000
# Use mongodb://localhost:27017 for local dev, mongodb://mongo:27017/labdrop for Docker
MONGOURI=mongodb://mongo:27017/labdrop
NODE_ENV=development

# cloudinary configs:
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Tokens :
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRY=15m

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRY=7d