.login-container {
  height: 100vh;
  background: #f4f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: fit-content;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
}

.login-card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 2px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #7c3aed; /* purpleimage */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #6d28d9;
}
